Client/BetsClient/Service References/MainService/MainService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BetsServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BetsServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Account">
    <xs:sequence>
      <xs:element minOccurs="0" name="balance" type="xs:decimal" />
      <xs:element minOccurs="0" name="code" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Account" nillable="true" type="tns:Account" />
  <xs:simpleType name="BetType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="simple" />
      <xs:enumeration value="system" />
      <xs:enumeration value="express" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BetType" nillable="true" type="tns:BetType" />
  <xs:complexType name="ArrayOfBet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Bet" nillable="true" type="tns:Bet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBet" nillable="true" type="tns:ArrayOfBet" />
  <xs:complexType name="Bet">
    <xs:sequence>
      <xs:element minOccurs="0" name="accountId" type="xs:int" />
      <xs:element minOccurs="0" name="betEvent" nillable="true" type="tns:Event" />
      <xs:element minOccurs="0" name="code" type="xs:int" />
      <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="result" type="tns:status" />
      <xs:element minOccurs="0" name="sum" type="xs:decimal" />
      <xs:element minOccurs="0" name="type" type="tns:BetType" />
      <xs:element minOccurs="0" name="winnigSum" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bet" nillable="true" type="tns:Bet" />
  <xs:complexType name="Event">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rate" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Event" nillable="true" type="tns:Event" />
  <xs:simpleType name="status">
    <xs:restriction base="xs:string">
      <xs:enumeration value="active" />
      <xs:enumeration value="win" />
      <xs:enumeration value="loss" />
      <xs:enumeration value="draw" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="status" nillable="true" type="tns:status" />
  <xs:complexType name="ArrayOfEvent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Event" nillable="true" type="tns:Event" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEvent" nillable="true" type="tns:ArrayOfEvent" />
</xs:schema>